* { box-sizing: border-box; }
.App h1 {
  text-align: center;
}

.post {
  width: 80%;
  margin: auto;
  padding: 1rem 2rem;
  border: 1px solid #333;
  margin-bottom: 1rem;
}

.post h3 {
  text-transform: capitalize;                                                                   
}

form {
  text-align: center;
}